.container {
  padding: 0;
  margin: 0 auto;
}
.tips {
  text-align: center;
  padding-top: 10%;
  color: #d8877c;
  font-size: 2em;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 bottom,
    from(#fef2f6),
    to(#dca6ac)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menuWrapper {
  position: fixed;
  top: 17px;
  left: 20px;
  z-index: 9999;
  font-size: 14px;
  .menu-item {
    width: 62px;
    height: 30px;
    font-family: PingFangSC;
    color: #b40024;
    line-height: 30px;
    padding-left: 8px;
    &.active {
      background-color: rgba(180, 0, 36, 0.2);
    }
  }
  .currentMenuItem {
    position: relative;
    border: none;
    background-image: linear-gradient(
      112deg,
      #f8d3dc -11%,
      #f0a8b8 -11%,
      #f9f0ee 108%
    );
    &::before {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: solid 1px rgba(182, 0, 30, 0.2);
    }
    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background: transparent;
      top: 10px;
      right: 13px;
      border: 1px solid #b40024;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  .menuWrap {
    position: relative;
    margin-top: -1px;
    width: 62px;
    height: 0px;
    transition: height ease 0.3s;
    overflow: hidden;
    background-image: linear-gradient(
      157deg,
      #faedf5 -2%,
      #f0a8b8 -2%,
      #fff 101%
    );
    &::before {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: solid 1px rgba(182, 0, 30, 0.2);
    }
    .menuInfo {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .showMenu {
    height: 180px;
  }
}
.mask {
  background-size: 100vw 100vh;
  // filter: blur(20px);
  // opacity: 0.3;
  // transition: filter 0.5s ease;
  animation: loading 0.5s ease;
}
.img {
  width: 100vw;
  height: auto;
}
@keyframes loading {
  0% {
    filter: blur(8px);
  }

  50% {
    opacity: 0.4;
  }

  99% {
    filter: blur(6px);
    opacity: 0.4;
    height: 100%;
  }

  100% {
    filter: blur(6px);
    opacity: 0.4;
    height: 0;
  }
}
